dist/
build/
.cache/
.deb_build/
*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.*
*.log
sources/
out/
src/
depot_tools/
chromium/
*.tar.gz
*.zip
*.qcow2
*.iso
*.img
*.bin
*.ko
*.dtb
*.dtbo
*.cpio*
*.ppm
*.strace
core
core.*
.env
.env.*
!.env.example
